  <%= form_tag "/characters", method: :post do %>
  <div>
    Player Name:<input type="text" name="player_name">
  </div>
  <div>
    Character Name: <input type="text" name="character_name">
  </div>
  <div>
    Class: <input type="text" name="char_class">
  </div>
  <div>
    Race: <input type="text" name="race">
  </div>
  <div>
    Background: <input type="text" name="background">
  </div>
  <div>
    Alignment: <input type="text" name="alignment">
  </div>
  <div>
    Level: <input type="text" name="level">
  </div>
  <input type="Submit" value="Create New Character">
  <% end %>